body{
    
    margin: auto;
    background-color:white;
}
/*.contenu{
    background-color: red;
    width: 1000px;*/
    


/*.header{
    background-color: red;
    height: 150px;*/

    

/*}
.header p a{
    color: white;
    text-decoration: none;
    background-color: red;

    cursor:pointer;

}
.header ul li a{
    color: white;
    
    width: 100%;
    display: inline-flex;
    text-decoration: none;
}
.header ul li a:hover{
    color: rgb(241, 123, 12);


}
.header ul li{
    list-style-type: none;
    display: inline-flex;
    padding:10px ;
    float: right;
*/


.card{
    box-shadow: 0 5px 8px rgba(0,0,0,0.2);
    padding: 20px;
    background-color: white;
} 

.footer{
    background-color: rgb(211, 122, 6);
    height: 100px;
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 20%;
}

nav{
    padding-bottom:80px ;
    
    
    margin-left: 150px;

}
nav h1{
    float: left;
    font-weight: bolder;
    font-size: 25px;
    letter-spacing: 0.7px;
    margin-top: 25;
    margin-left: 30px;
    
    border-bottom: 2px solid black;
    cursor: pointer;
}
nav h1 a{
    text-decoration: none;
    color: rgb(4, 10, 95);
}

nav h1 a span{
    color:rgb(211, 122, 6) ;
}
nav h1 a:hover{
    color: rgb(211, 122, 6);
}
nav ul{ 
    margin: 10px 0;
    padding: 10px 0;
    margin-right: 100px;
    float: right;
    overflow: hidden;
}
nav ul li{
    display: inline;
    margin: 0 10px;
    overflow: hidden;
    font-weight: bolder;
    font-size: 25px;
    padding: 5px;
    align-items: center;
  justify-content: space-between;


}



nav ul li a{
    text-decoration: none;
    color:rgb(211, 122, 6);
}
li a:hover{
    color: black;
}
.btn{
    background: rgb(211, 122, 6);
    color: white;
    border-radius: 2px solid rgb(211, 122, 6);
    padding: 10px 18px;
    text-decoration: none;

}

.btn:hover{
    color: rgb(211, 122, 6);
    border: 1px solid rgb(211, 122, 6);
    background: white;
}
.info{
    margin-left: 8%;
    margin-top: 10%;
}
.info h1{
    font-size: 40px;
}
.info h1 span{
    color: rgb(211, 122, 6);
}
.info p{
    line-height: 22px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.img{

    width: 5%;
    height: 80%;
    position: absolute;
    bottom: 200px;
    right: 700px;
    float: right;
}
.img img{
    height: 80%;
    position: absolute;
    left: 100%;
    bottom: 0;
    width: 800%;
    
}

